<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.languages.alng.debug.launching.AlngLaunchShortcut"
            icon="icons/alng_logo_16.png"
            id="org.languages.alng.debug.launchShortcut"
            label="Action Language Program"
            modes="run,debug">
         <description
               description="Run a local Action Language program"
               mode="run">
         </description>
         <description
               description="Debug a local Action Language program"
               mode="debug">
         </description>
         <configurationType
               id="org.languages.alng.debug.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.alng">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.languages.alng.debug.launching.AlngLaunchDelegate"
            id="org.languages.alng.debug.launchConfigurationType"
            modes="run,debug"
            name="ActionLanguage"
            sourceLocatorId="org.languages.alng.debug.sourceLocator"
            sourcePathComputerId="org.languages.alng.debug.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.languages.alng.debug.launching.ui.AlngTabGroup"
            description="Run an ActionLanguage program"
            id="org.languages.alng.debug.launchConfigurationTabGroup"
            type="org.languages.alng.debug.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.languages.alng.debug.launchConfigurationType"
            icon="icons/alng_logo_16.png"
            id="org.languages.alng.debug.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.languages.alng.debug.model.AlngLineBreakpoint"
            id="org.languages.alng.debug.lineBreakpoint"
            markerType="org.languages.alng.debug.lineBreakpoint.marker">
      </breakpoint>
   </extension>
   <extension
         id="org.languages.alng.debug.lineBreakpoint.marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.languages.alng.debug.model.AlngDebugModelPresentation"
            id="org.languages.alng.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="org.languages.alng.debug.model.AlngStatusHandler"
            code="0"
            id="org.languages.alng.debug.statusHandler"
            plugin="org.languages.alng.debug">
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.languages.alng.debug.source.AlngSourceLookupDirector"
            id="org.languages.alng.debug.sourceLocator"
            name="ActionLanguage Source Lookup Director">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.languages.alng.debug.source.AlngSourcePathComputerDelegate"
            id="org.languages.alng.debug.sourcePathComputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.toggleBreakpointHandler">
          <toggleBreakpointHandler class="org.languages.alng.debug.model.AlngToggleHandler" language="ActionLanguage">
          </toggleBreakpointHandler>
   </extension>

</plugin>
